.card {
    display: inline-block;
    border: 1px solid black;
}

.card p {
    text-align: center;
}

.card button {
    margin-left: 35%;
}

.card img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}